#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    gap: 10px;
    padding: 10px;
}

#container>div{
    /* border: 2px solid yellowgreen; */
    border-radius: 4px;
    text-align: center;

}

#container>div>img{
    width: 320px;
    height: 200px;
    
    
    
}

body{
    background-color: rgb(198, 246, 233);
}

#container>div:hover{
    border-radius:   0px 0px 40px 40px;
    background-color: rgb(135, 245, 209);
}