
#main img{
    margin: auto;
    width: 80%;
    height: 330px;
}
   
#main {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin:auto ;
}
#main>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   display: flex;
   flex-direction: column;
    height: 500px;
    /* width: 20%; */
    padding: 15px;
}
#main button{
    width: 100px;
    height: 25px;
}
#main button:hover{
    height: 30px;
    width: 105px;
    color:white;
    background-color: grey;
}

#btn {
    display: flex ;
    gap: 20px;
}